extends tabs

block A
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | A.1 - Datos generales del proyecto
    .card-body
      .form-group
        label.h6(for='titulo') A.1.1 - Titulo
          span.text-danger  (*)
        textarea#titulo.form-control(rows='3' name="titulo") #{lista.titulo}
        input(type="hidden", name="id_proyecto" value=lista.id_proyecto)
      .form-group
        label.h6(for='palabrasClave') A.1.2 - Palabras clave
          span.text-danger  (*)
        textarea#palabrasClave.form-control(rows='3' name="palabrasClave") #{lista.palabras_clave}
      h6 A.1.3 - Area de innovacion
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Area
              th Sub-area
              th Area tematica
          tbody
            tr
              td 1
              td Tecnologia
              td Sistemas
              td Informatica
      h6 A.1.4 - actividad economica en la que se aplicara la innovacion
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Area de aplicacion
              th Sub-area de aplicacion
          tbody
            tr
              td 1
              td Tecnologia
              td Sistemas
      h6 A.1.5 - localizacion del proyecto
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Departamento
              th Provincia
              th Distrito
              th Ubigeo
          tbody
            tr
              td 1
              td Lima
              td Lima
              td Miraflores
              td 150122
      .form-group
        label.h6(for='duracionDelProyecto') A.1.6 - Duracion del proyecto
          span.text-danger  (*)
        input#duracionDelProyecto.form-control(type='number' name="duracionDelProyecto" value=lista.duracion_proyecto)
      .form-group
        label.h6(for='fechaEstimadaDeInicioDelProyecto')
          | A.1.7 - Fecha estimada de inicio del proyecto
          span.text-danger  (*)
        input#fechaEstimadaDeInicioDelProyecto.form-control(type='date' name="fechaEstimadaDeInicioDelProyecto" value=lista.fecha_estimada_inicio)
      h6 A.1.8 - Datos del coordinador general del proyecto
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='cgptipoDeDocumento') Tipo de documento
              span.text-danger  (*)
            select#cgptipoDeDocumento.form-control(name="cgptipoDeDocumento" value=lista.cgp_tipo_documento)
              option(value="0") -----
              option(value='1') CARNET DE EXTRANJERIA
              option(value='2') DOCUMENTO NACIONAL DE IDENTIDAD
              option(value='3') PASAPORTE
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpnumeroDeDocumento') Numero de documento
              span.text-danger  (*)
            input#cgpnumeroDeDocumento.form-control(type='number' name="cgpnumeroDeDocumento" value=lista.cgp_nro_documento)
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpruc') RUC
            input#cgpruc.form-control(type='number' name="cgpruc" value=lista.cgp_ruc)
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpnombresYApellidos') Nombres y Apellidos
              span.text-danger  (*)
            input#cgpnombresYApellidos.form-control(type='text' name="cgpnombresYApellidos" value=lista.cgp_nombre)
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpfechaDeNacimiento') fecha de nacimiento
              span.text-danger  (*)
            input#cgpfechaDeNacimiento.form-control(type='date' name="cgpfechaDeNacimiento" value=lista.cgp_fecha_nac)
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpsexo') sexo
              span.text-danger  (*)
            select#cgpsexo.form-control(name="cgpsexo" value=lista.cgp_sexo)
              option(value="0" selected) -----
              option(value='1') Femenino
              option(value='2') Masculino
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpemail') Correo electronico
              span.text-danger  (*)
            input#cgpemail.form-control(type='email' name="cgpemail" value=lista.cgp_email)
        .col-sm-6.col-md-4
          .form-group
            label(for='cgptelefono') Telefono
            input#cgptelefono.form-control(type='number' name="cgptelefono" value=lista.cgp_telefono)
        .col-sm-6.col-md-4
          .form-group
            label(for='cgpcelular') Celular
              span.text-danger  (*)
            input#cgpcelular.form-control(type='number' name="cgpcelular" value=lista.cgp_celular)
      h6 A.1.9 - Datos del coordinador administrativo del proyecto
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='captipoDeDocumento') Tipo de documento
              span.text-danger  (*)
            select#captipoDeDocumento.form-control(name="captipoDeDocumento" value=lista.cap_tipo_documento)
              option(value="0" selected) -----
              option(value='1') CARNET DE EXTRANJERIA
              option(value='2') DOCUMENTO NACIONAL DE IDENTIDAD
              option(value='3') PASAPORTE
        .col-sm-6.col-md-4
          .form-group
            label(for='capnumeroDeDocumento') Numero de documento
              span.text-danger  (*)
            input#capnumeroDeDocumento.form-control(type='number' name="capnumeroDeDocumento" value=lista.cap_nro_documento)
        .col-sm-6.col-md-4
          .form-group
            label(for='capruc') RUC
            input#capruc.form-control(type='number' name="capruc" value=lista.cap_ruc)
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='capnombresYApellidos') Nombres y Apellidos
              span.text-danger  (*)
            input#capnombresYApellidos.form-control(type='text' name="capnombresYApellidos" value=lista.cap_nombre)
        .col-sm-6.col-md-4
          .form-group
            label(for='capfechaDeNacimiento') fecha de nacimiento
              span.text-danger  (*)
            input#capfechaDeNacimiento.form-control(type='date' name="capfechaDeNacimiento" value=lista.cap_fecha_nac)
        .col-sm-6.col-md-4
          .form-group
            label(for='capsexo') sexo
              span.text-danger  (*)
            select#capsexo.form-control(name="capsexo" value=lista.cap_sexo)
              option(value="0" selected) -----
              option(value='1') Femenino
              option(value='2') Masculino
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='capemail') Correo electronico
              span.text-danger  (*)
            input#capemail.form-control(type='email' name="capemail" value=lista.cap_email)
        .col-sm-6.col-md-4
          .form-group
            label(for='captelefono') Telefono
            input#captelefono.form-control(type='number' name="captelefono" value=lista.cap_telefono)
        .col-sm-6.col-md-4
          .form-group
            label(for='capcelular') Celular
              span.text-danger  (*)
            input#capcelular.form-control(type='number' name="capcelular" value=lista.cap_celular)
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | A.2 - Datos de las entidades participantes
    .card-body
      h6 A.2.1 - Entidad solicitante
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='estipoDeEntidad') Tipo de entidad
              span.text-danger  (*)
            select#estipoDeEntidad.form-control(name="estipoDeEntidad" value=lista.es_tipo)
              option(value="0" selected) -----
              option(value='1') ASOCIACI&OacuteN CIVIL DE PRODUCTORES
              option(value='2') EMPRESA
              option(value='3') PERSONA NATURAL CON NEGOCIO
        .col-sm-6.col-md-4
          .form-group
            label(for='estamanoDeLaEmpresa') Tamaño de la empresa
              span.text-danger  (*)
            input#estamanoDeLaEmpresa.form-control(type='text' name="estamañoDeLaEmpresa" value=lista.es_tamano)
        .col-sm-6.col-md-4
          .form-group
            label(for='esnroDeTrabajadores') Numero de Trabajadores
              span.text-danger  (*)
            input#esnroDeTrabajadores.form-control(type='number' name="esnroDeTrabajadores" value=lista.es_nro_trabajadores)
      .form-group
        label(for='esrucRazonSocial') RUC y Razon social
          span.text-danger  (*)
        input#esrucRazonSocial.form-control(type='text' name="esrucRazonSocial" value=lista.es_ruc)
      .form-group
        label(for='esciiu') CIIU
          span.text-danger  (*)
        input#esciiu.form-control(type='text' name="esciiu" value=lista.es_ciiu)
      .form-group
        label(for='esdireccion') Direccion
          span.text-danger  (*)
        input#esdireccion.form-control(type='text' name="esdireccion" value=lista.es_direccion)
      .row
        .col-sm-6.col-md-6
          .form-group
            label(for='esfechaDeConstitucion') Fecha de Constitucion
              span.text-danger  (*)
            input#esfechaDeConstitucion.form-control(type='date' name="esfechaDeConstitucion" value=lista.es_fecha_constitucion)
        .col-sm-6.col-md-6
          .form-group
            label(for='esinicioDeActividades') Inicio de actividades
              span.text-danger  (*)
            input#esinicioDeActividades.form-control(type='date' name="esinicioDeActividades" value=lista.es_inicio_actividades)
      .row
        .col-sm-6.col-md-6
          .form-group
            label(for='esnumeroDePartida') Numero de partida
            input#esnumeroDePartida.form-control(type='number' name="esnumeroDePartida" value=lista.es_nro_partida)
        .col-sm-6.col-md-6
          .form-group
            label(for='esoficinaRegistral') Oficina registral
            input#esoficinaRegistral.form-control(type='text' name="esoficinaRegistral" value=lista.es_oficina_registral)
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='estelefonoCelular') Telefono / Celular
              span.text-danger  (*)
            input#estelefonoCelular.form-control(type='number' name="estelefonoCelular" value=lista.es_telefono)
        .col-sm-6.col-md-4
          .form-group
            label(for='esemail') Correo electronico
              span.text-danger  (*)
            input#esemail.form-control(type='email' name="esemail" value=lista.es_correo)
        .col-sm-6.col-md-4
          .form-group
            label(for='espaginaWeb') Pagina Web
            input#espaginaWeb.form-control(type='text' name="espaginaWeb" value=lista.es_pagina_web)
      .row
        .col-sm-6.col-md-6
          .form-group
            label(for='esventas2016') Ventas del año 2016
              span.text-danger  (*)
            input#esventas2016.form-control(type='number' name="esventas2016" value=lista.es_ventas2016)
        .col-sm-6.col-md-6
          .form-group
            label(for='esventas2017') Ventas del año 2017
              span.text-danger  (*)
            input#esventas2017.form-control(type='number' name="esventas2017" value=lista.es_ventas2017)
      h6 Representante legal
      .row
        .col-sm-6.col-md-4
          .form-group
            label(for='rptipoDeDocumento') Tipo de documento
              span.text-danger  (*)
            select#rptipoDeDocumento.form-control(name="rptipoDeDocumento" value=lista.rl_tipo_documento)
              option(value="0" selected) -----
              option(value='1') CARNET DE EXTRANJERIA
              option(value='2') DOCUMENTO NACIONAL DE IDENTIDAD
              option(value='3') PASAPORTE
        .col-sm-6.col-md-4
          .form-group
            label(for='rpnumeroDeDocumento') Numero de documento
              span.text-danger  (*)
            input#rpnumeroDeDocumento.form-control(type='number' name="rpnumeroDeDocumento" value=lista.rl_nro_documento)
        .col-sm-6.col-md-4
          .form-group
            label(for='rpruc') RUC
            input#rpruc.form-control(type='number' name="rpruc" value=lista.rl_ruc)
      .row
        .col-sm-8
          .form-group
            label(for='rpnombresYApellidos') Nombres y Apellidos
              span.text-danger  (*)
            input#rpnombresYApellidos.form-control(type='text' name="rpnombresYApellidos" value=lista.rl_nombre)
        .col-sm-4
          .form-group
            label(for='rpsexo') sexo
              span.text-danger  (*)
            select#rpsexo.form-control(name="rpsexo" value=lista.rl_sexo)
              option(value="0" selected) -----
              option(value='1') Femenino
              option(value='2') Masculino
      .row
        .col-sm-6.col-md-6
          .form-group
            label(for='rpemail') Correo electronico
              span.text-danger  (*)
            input#rpemail.form-control(type='email' name="rpemail" value=lista.rl_email)
        .col-sm-6.col-md-6
          .form-group
            label(for='rptelefono') Telefonos
              span.text-danger  (*)
            input#rptelefono.form-control(type='number' name="rptelefono" value=lista.rl_telefono)
      .form-group
        label(for='rpproductosComerciales') Indicar los productos ( Bienes y Servicios ) que en en la actualidad comercializa
          span.text-danger  (*)
        textarea#rpproductosComerciales.form-control(rows='3' name="rpproductosComerciales") #{lista.rl_productos_comercializados}
      .form-group
        label(for='rpactividadesRelacionadas') Principales actividades, investigaciones, tecnologias relacionadas con el proyecto
          span.text-danger  (*)
        textarea#rpactividadesRelacionadas.form-control(rows='3' name="rpactividadesRelacionadas") #{lista.rl_actividades_relacionadas}
      .form-group
        label(for='rpinfraestructuraDelSolicitante') Infraestructura fisica, equipamiento, tecnologias y procesos de la entidad solicitante
          span.text-danger  (*)
        textarea#rpinfraestructuraDelSolicitante.form-control(rows='3' name="rpinfraestructuraDelSolicitante") #{lista.rl_infraestructura_es}
      h6 A.2.2 - entidades asociadas
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th ruc
              th nombre de la entidad
              th tipo de entidad
              th tipo de relacion
              th nombre completo
          tbody
            tr
              td 1
              td Lima
              td Lima
              td Miraflores
              td 150122
              td Ubigeo
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | A.3 - antecedentes de las entidades participantes
    .card-body
      h6 A.3.1 - Principales actividades, investigaciones, tecnologias relacionadas con el proyecto
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th nombre de la entidad
              th principales actividades y experiencia
          tbody
            tr
              td 1
              td Lima
              td Lima
      h6 A.3.2 - Principales actividades, investigaciones, tecnologias y procesos que se aportaran al proyecto
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th nombre de la entidad
              th principal infraestructura fisica
          tbody
            tr
              td 1
              td Lima
              td Lima
      h6 A.3.3 - Principales aspectos que evidencien que la entidad se beneficiara con los resultados
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th nombre de la entidad
              th justificacion para contar con la entidad
          tbody
            tr
              td 1
              td Lima
              td Lima
      h6 A.3.4 - Fondos recibidos por alguna entidad del estado hacia la entidad solicitante
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th nombre del otorgante
              th nombre del proyecto
              th monto
              th fecha de reposicion
              th fecha de finalizacion
          tbody
            tr
              td 1
              td Lima
              td Lima
              td monto
              td fecha de reposicion
              td fecha de finalizacion
      h6 A.3.5 - Situacion de los proyectos financiados por innovate peru ( PIMEN, PIPEI, PITEI, PIPEA )
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th contrato
              th titulo
              th aporte RNR
              th fecha inicio
              th fecha fin
              th estado
              th situacion actual
          tbody
            tr
              td 1
              td Lima
              td Lima
              td monto
              td fecha de reposicion
              td fecha de finalizacion
              td estado
              td situacion actual
      br
block B
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.1 - situacion actual de mercado del producto y/o servicio y de la empresarial
    .card-body
      .form-group
        label(for='entornoEmpresarial')
          | B.1.1 - situacion del entorno empresarial
          span.text-danger  (*)
        textarea#entornoEmpresarial.form-control(rows='3' name="entornoEmpresarial") #{lista.entorno_empresarial}
      .form-group
        label(for='situacionActual')
          | B.1.2 - situacion actual de la empresa respecto a su negocio y participacion en el mercado
          span.text-danger  (*)
        textarea#situacionActual.form-control(rows='3'  name="situacionActual") #{lista.situacion_actual}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.2 - Identificación del mercado potencial de la innovación y sustentación de la oportunidad comercial
    .card-body
      .form-group
        label(for='identificacionDelMercado')
          | B.2.1 Identificación del mercado potencial, donde se implementará a escala comercial los resultados del proyecto
          span.text-danger  (*)
        textarea#identificacionDelMercado.form-control(rows='3' name="identificacionDelMercado") #{lista.identificacion_mercado}
      .form-group
        label(for='competidores')
          | B.2.2 Competidores
          span.text-danger  (*)
        textarea#competidores.form-control(rows='3' name="competidores") #{lista.competidores}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.3 Modelo de negocio y la estrategia empresarial para el ingreso de la innovación al mercado
    .card-body
      .form-group
        label(for='modeloDeNegocio')
          | B.3.1 Modelo de negocio y la estrategia empresarial para el ingreso de la innovación al mercado
          span.text-danger  (*)
        textarea#modeloDeNegocio.form-control(rows='3' name="modeloDeNegocio") #{lista.modelo_negocio}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.4 Capacidad financiera para el escalamiento de los resultados esperados y la implantación
    .card-body
      .form-group
        label(for='capacidadFinanciera')
          | B.4.1 Capacidad financiera para el escalamiento de los resultados esperados y la implantación
          span.text-danger  (*)
        textarea#capacidadFinanciera.form-control(rows='3' name="capacidadFinanciera") #{lista.capacidad_financiera}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.5 Rentabilidad Económica y Financiera
    .card-body
      .form-group
        label(for='rentabilidadEconomica')
          | B.5.1 Rentabilidad Económica y Financiera
          span.text-danger  (*)
        textarea#rentabilidadEconomica.form-control(rows='3' name="rentabilidadEconomica") #{lista.rentabilidad_econimica}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | B.6 Archivos Adjuntos para la Sección B: Mercado
    .card-body
      .form-group
        label(for='flujoDeCaja')
          | B.6.1 Adjuntar un archivo obligatorio con el flujo de caja proyectado
          span.text-danger  (*)
        br
        .custom-file
          input#flujoDeCaja.custom-file-input(type='file', name='flujoDeCaja')
          label.custom-file-label(for='flujoDeCaja') Elige Un Archivo
block C
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.1 Diagnóstico
    .card-body
      .form-group
        label(for='problemaIdentificado')
          | C.1.1 Problema identificado que limita la competitividad de la empresa u oportunidad de mercado
          span.text-danger  (*)
        textarea#problemaIdentificado.form-control(rows='3' name="problemaIdentificado") #{lista.problemas_identificados}
      .form-group
        label(for='consecuenciasEfectos')
          | C.1.2 Consecuencias o efectos
          span.text-danger  (*)
        textarea#consecuenciasEfectos.form-control(rows='3' name="consecuenciasEfectos") #{lista.consecuencias_efectos}
      .form-group
        label(for='causas')
          | C.1.3 Causas
          span.text-danger  (*)
        textarea#causas.form-control(rows='3' name="causas") #{lista.causas}
      h6 C.1.4. Tipo de innovación y descripción
      .form-group
        label(for='tipoDeInnovación') Tipo de Innovación
          span.text-danger  (*)
        select#tipoDeInnovacion.form-control(name="tipoDeInnovacion" value=lista.tipo_innovacion)
          option(value="0" selected) ----
          option(value='1') UN NUEVO PROCESO
          option(value='2') UN NUEVO PRODUCTO (BIEN O SERVICIO)
          option(value='3') UN PROCESO YA EXISTENTE CON CARACTERISTICAS DIFERENTES (SIGNIFICATIVAMENTE MEJORADO)
          option(value='4') UN PRODUCTO YA EXISTENTE CON CARACTERISTICAS DIFERENTES (SIGNIFICATIVAMENTE MEJORADO)
      .form-group
        label(for='describirFuncion')
          | 1. Describir la función que realizará la innovación
          span.text-danger  (*)
        textarea#describirFuncion.form-control(rows='3' name="describirFuncion") #{lista.funcion_innovacion}
      .form-group
        label(for='describirTecnologia')
          | 2. Describir la tecnología que se empleará para construir la innovación
          span.text-danger  (*)
        textarea#describirTecnologia.form-control(rows='3'  name="describirTecnologia") #{lista.tecnologia}
      .form-group
        label(for='describirForma')
          | 3. Describa la forma en que se entregará el resultado
          span.text-danger  (*)
        textarea#describirForma.form-control(rows='3' name="describirForma") #{lista.forma_resultado}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | C.2 Descripción de las características de producto o proceso de la innovación presentada
    .card-body 
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th atributo
              th competidor 1
              th competidor 2
              th competidor 3
              th propuesta de proyecto
          tbody
            tr
              td 1
              td atributo
              td competidor 1
              td competidor 2
              td competidor 3
              td propuesta de proyecto
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | C.3 Antecedentes e Investigaciones recientes sobre la innovación a desarrollar
    .card-body
      .form-group
        label(for='antecedentes')
          | C.3.1 Antecedentes e investigaciones recientes sobre el problema a resolver
          span.text-danger  (*)
        textarea#antecedentes.form-control(rows='3' name="antecedentes") #{lista.antecedentes}
      .form-group
        label(for='libreRestrigido')
          | C.3.2 Indicar si el conocimiento o la tecnología que se utilizará son de uso libre o restringido
          span.text-danger  (*)
        textarea#libreRestrigido.form-control(rows='3' name="libreRestrigido") #{lista.tipo_conocimiento}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.4 Objetivos
    .card-body
      h6 C.4.1 Objetivo general, específicos y resultados del proyecto
      label(for='objetivoGeneral') Objetivo General
      .table-responsive
        table#objetivoGeneral.table.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th objetivo general - proposito del proyecto
              th resultados finales
              th medios de verificacion
          tbody
            tr
              td 1
              td atributo
              td competidor 1
              td competidor 2
      label(for='objetivoEspecifico') Objetivo Especifico
      .table-responsive
        table#objetivoEspecifico.table.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th objetivo específico - componentes
              th resultados intermedios
              th medios de verificacion
          tbody
            tr
              td 1
              td atributo
              td competidor 1
              td competidor 2
      h6 C.4.2.Cronograma de actividades
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th actividad
              th unidad de medida
              th meta fisica
              th año 1
          tbody
            tr
              td 1
              td atributo
              td competidor 1
              td competidor 2
              td año 1
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.5 Descripción de la Metodología
    .card-body
      .form-group
        label(for='planMetodologico')
          | C.5.1. Plan Metodológico del proyecto
          span.text-danger  (*)
        textarea#planMetodologico.form-control(rows='3' name="planMetodologico") #{lista.plan_metodologico}
      .form-group
        label(for='planAdjunto')
          | Adjunto Plan Metodológico
          span.text-danger  (*)
        br
        .custom-file
          input#planAdjunto.custom-file-input(type='file', name='planAdjunto')
          label.custom-file-label(for='planAdjunto') Elige Un Archivo
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.6. Propiedad Intelectual
    .card-body
      .form-group
        label(for='propiedadIntelectual')
          | C.6.1 Propiedad Intelectual
          span.text-danger  (*)
        textarea#propiedadIntelectual.form-control(rows='3' name="propiedadIntelectual") #{lista.propiedad_intelectual}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.7 Impactos Esperados
    .card-body
      .form-group
        label(for='impactosEconomicos')
          | C.7.1 Impactos económicos
          span.text-danger  (*)
        textarea#impactosEconomicos.form-control(rows='3' name="impactosEconomicos") #{lista.impactos_economicos}
      .form-group
        label(for='impactosSociales')
          | C.7.2 Impactos sociales
          span.text-danger  (*)
        textarea#impactosSociales.form-control(rows='3' name="impactosSociales") #{lista.impactos_sociales}
      .form-group
        label(for='impactosEnLaFormacion')
          | C.7.3 Impactos en la formación de cadenas productivas o clústeres
          | y otras externalidades
          span.text-danger  (*)
        textarea#impactosEnLaFormacion.form-control(rows='3' name="impactosEnLaFormacion") #{lista.impactos_formacion}
      .form-group
        label(for='pontencialidad')
          | C.7.4 Potencialidad de ser replicado por empresas similares
          span.text-danger  (*)
        textarea#pontencialidad.form-control(rows='3' name="pontencialidad") #{lista.potencialidad}
      .form-group
        label(for='impactosDeLaTecnologia')
          | C.7.5 Impactos en Tecnología
          span.text-danger  (*)
        textarea#impactosDeLaTecnologia.form-control(rows='3' name="impactosDeLaTecnologia") #{lista.impactos_tecnologico}
      .form-group
        label(for='impactosAmbientales')
          | C.7.6 Impactos ambientales
          span.text-danger  (*)
        textarea#impactosAmbientales.form-control(rows='3' name="impactosAmbientales") #{lista.impactos_ambientales}
      .form-group
        label(for='medidasDeMitigacion')
          | C.7.7 Medidas de mitigación para los impactos ambientales identificados
          | como negativos y permanentes (o temporales)
          span.text-danger  (*)
        textarea#medidasDeMitigacion.form-control(rows='3' name="medidasDeMitigacion") #{lista.medidas_mitigacion}
      .form-group
        label(for='impactosEnLaEmpresa')
          | C.7.8 Impactos en la capacidad interna de innovación de la empresa
          span.text-danger  (*)
        textarea#impactosEnLaEmpresa.form-control(rows='3' name="impactosEnLaEmpresa") #{lista.impactos_empresa}
  br
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white C.8. Recursos Necesarios
    .card-body
      label(for='datosDelEquipoTecnico') datos del equipo tecnico
      .table-responsive
        table#datosDelEquipoTecnico.table.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Es Investigador
              th Nombre
              th Ap. Paterno
              th Ap. Materno
              th Especialidad
              th Función Técnica
              th Porcentaje de Dedicación
              th Investigador Principal
              th Coordinador General
              th Coordinador Administrativo
              th Entidad a la que pertenecen
          tbody
            tr
              td Id
              td Es Investigador
              td Nombre
              td Ap. Paterno
              td Ap. Materno
              td Especialidad
              td Función Técnica
              td Porcentaje de Dedicación
              td Investigador Principal
              td Coordinador General
              td Coordinador Administrativo
              td Entidad a la que pertenecen
block D
  .card.rounded.border-secondary
    h5.card-header.text-capitalize.bg-danger.text-white
      | D.1 Moneda y Presupuesto del Proyecto
    .card-body
      .form-group
        label(for='monedaDelProyecto')
          | Moneda del Proyecto
          span.text-danger  (*)
        select#monedaDelProyecto.form-control(name="monedaDelProyecto" value=lista.tipo_moneda)
          option(value='0') Soles
          option(value='1') Dolares
      h6 D.1.1 CUADRO Nº 1: Equipos y Bienes duraderos
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Valorizable 
              th Equipos y Bienes duraderos 
              th Especificación técnica 
              th Proforma 
              th Unidad de medida 
              th Costo Unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento NO monetario 
              th Entidad Aportante 
          tbody
            tr
              td 1
              td Valorizable 
              td Equipos y Bienes duraderos 
              td Especificación técnica 
              td Proforma 
              td Unidad de medida 
              td Costo Unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento NO monetario 
              td Entidad Aportante 
      h6 D.1.2 CUADRO Nº 2: Honorarios de los Recursos Humanos - Valorización del equipo Técnico
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Nombre 
              th Entidad 
              th Porcentaje de dedicación 
              th Honorario mensual 
              th No. Meses 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento no monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Nombre 
              td Entidad 
              td Porcentaje de dedicación 
              td Honorario mensual 
              td No. Meses 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento no monetario 
              td Entidad Aportante
      h6 D.1.3 CUADRO Nº 3: Consultorías
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Descripción 
              th Unidad Medida 
              th Costo unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento no monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Descripción 
              td Unidad Medida 
              td Costo unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento no monetario 
              td Entidad Aportante
      h6 D.1.4 CUADRO Nº 4: Servicios de terceros
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Descripción 
              th Unidad de medida 
              th Costo Unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento NO monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Descripción 
              td Unidad de medida 
              td Costo Unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento NO monetario 
              td Entidad Aportante
      h6 D.1.5 CUADRO Nº 5: Pasajes y viáticos
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Tipo 
              th Tipo de viático 
              th Tipo de Actividad 
              th Destino 
              th Descripción 
              th Unidad de medida 
              th Costo Unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento NO monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Tipo 
              td Tipo de viático 
              td Tipo de Actividad 
              td Destino 
              td Descripción 
              td Unidad de medida 
              td Costo Unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento NO monetario 
              td Entidad Aportante
      h6 D.1.6 CUADRO Nº 6: Materiales e insumos
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Valorizable 
              th Descripción 
              th Especificación técnica 
              th Proforma 
              th Unidad Medida 
              th Costo unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento no monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Valorizable 
              td Descripción 
              td Especificación técnica 
              td Proforma 
              td Unidad Medida 
              td Costo unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento no monetario 
              td Entidad Aportante
      h6 D.1.7 CUADRO Nº 7: Otros gastos elegibles
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Valorizable 
              th Descripción 
              th Unidad Medida 
              th Costo unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento no monetario 
              th Entidad Aportante
          tbody
            tr
              td 1
              td Valorizable 
              td Descripción 
              td Unidad Medida 
              td Costo unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento no monetario 
              td Entidad Aportante
      h6 D.1.8 CUADRO Nº8: Gastos de gestión
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Descripción 
              th Unidad Medida 
              th Costo unitario 
              th Cantidad 
              th Costo Total 
              th RNR 
              th Cofinanciamiento monetario 
              th Cofinanciamiento no monetario 
              th Entidad Aportante 
          tbody
            tr
              td 1
              td Descripción 
              td Unidad Medida 
              td Costo unitario 
              td Cantidad 
              td Costo Total 
              td RNR 
              td Cofinanciamiento monetario 
              td Cofinanciamiento no monetario 
              td Entidad Aportante 
      h6 D.1.9 Equipo Formulador del Proyecto
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light.text-capitalize
            tr
              th Id
              th Tipo de Documento 
              th Número de Documento 
              th Nombres 
              th Apellidos 
              th Correo 
              th Teléfono 
              th Celular 
          tbody
            tr
              td 1
              td Tipo de Documento 
              td Número de Documento 
              td Nombres 
              td Apellidos 
              td Correo 
              td Teléfono 
              td Celular